extends layout

block content
	div.container
		div.text-center
			h1= title
		p.text-center
			|Court image credit: nba.com
			br
			br
			|BasketballHeatmaps is purely an academic exercise and should not be used for commercial purposes.
			br
			|BasketballHeatmaps is not affiliated in any way with the official NBA organization.
			br
			|Shot data was gathered from various sources online.
			br
			br
			|More to features to come!

		div.text-center
			a(href="/") Home