extends layout

block content
	h1= title
	form#formFindPlayer(name="findplayer",method="get",action="/")
		input#inputPlayerName(type="text", placeholder="Name", name="player")
		input#submit(type='button', value="submit")
	#container