extends layout

block content
	div.container
		div.row
			div.text-center
				h1= title
			p.text-center
				|Heatmaps from the 2012-2013 NBA season
			div.text-center
				div.form-horizontal
					h3
						| Player Name:  
						input.form-control#inputPlayer(type="text", placeholder="Player name")

		div.row
			div.text-center.center#heat
		br
		br
		#slider.center
		br
		div#options.text-center
			div#madeboxes
				label.checkbox.inline
					input#madebox(type="checkbox", checked="true")
					| Made shot
				label.checkbox.inline
					input#missedbox(type="checkbox") 
					| Missed shot
			div#qtrs_boxes
				label.checkbox.inline
						input#onebox(type="checkbox", checked="true") 
						| 1st
				label.checkbox.inline
						input#twobox(type="checkbox", checked="true") 
						| 2nd
				label.checkbox.inline
						input#threebox(type="checkbox", checked="true") 
						| 3rd
				label.checkbox.inline
						input#fourbox(type="checkbox", checked="true") 
						| 4th
				label.checkbox.inline
						input#OTbox(type="checkbox") 
						| OT

	include footer.jade