extends layout

block content
	div.container
		div.row
			div.text-center
				h1= title

			div.text-center
				div.input-group
					input.form-control#inputPlayer(type="text", placeholder="Player name")
					//span.input-group-btn
					//	button#submit(class="btn btn-primary" type="button") Search
		div.text-center
			#slider
		br
		div.row
			div.span4.offset4
				div.text-center#heat
