extends layout

block content
	div.container
		div.row
			div.text-center
				h1= title

			div.text-center
				div.form-horizontal
					h3
						| Player Name:  
						input.form-control#inputPlayer(type="text", placeholder="Player name")

		div.row
			div.text-center.center#heat
		br
		br
		div.text-center.center
			#slider
		br

		div.checkbox
			label.checkbox-inline
				input#madebox(type="checkbox", checked="true")
				| Made
			label.checkbox-inline
				input#missedbox(type="checkbox") 
				| Missed
		br
		div#qtrs_boxes
			div.checkbox
				label
					input#onebox(type="checkbox", checked="true") 
					| 1st
			div.checkbox
				label
					input#twobox(type="checkbox", checked="true") 
					| 2nd
			div.checkbox
				label
					input#threebox(type="checkbox", checked="true") 
					| 3rd
			div.checkbox
				label
					input#fourbox(type="checkbox", checked="true") 
					| 4th
			div.checkbox
				label
					input#OTbox(type="checkbox") 
					| OT
