doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.3.custom.css')
    link(rel='stylesheet', href='/stylesheets/iThing-min.css')
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="/javascripts/jquery-ui.min.js")
    script(src="/javascripts/jQDateRangeSlider-min.js")
    script(src="/javascripts/heatmap.js")
    script(src="/javascripts/index.js")
    script(src='/javascripts/bootstrap.min.js')
  body
    block content