body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fdfbf5;
}

a {
  color: #00B7FF;
}

#heat {
	position: relative;
	background-image:url('/images/court.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 562.5px;
	width: 300px;
	z-index: -10000;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

h1{
	color: #eb6947;
}
h3{
	color: #4e4943;
}

#slider{
	width: 400px;
}

#footer{
	margin-top: 20px;
}

a{
	color: #4e4943;
}